notebooks
figures
largedata

cogwheel/data/gwosc_files/
cogwheel/likelihood/marginalization/lookup_tables.npz
cogwheel/factorized_qas/data/extrinsic_samples_*.npz
cogwheel/_version.py
cogwheel/waveform_models/IMRPhenomXODE
tutorials/example/

*.egg-info/
dist/
build/

*.pyc
__pycache__
.ipynb_checkpoints
