python=3.9.7
gsl=2.7.0
numpy
scipy
swig
h5py<3.2
pkg-config
matplotlib
pandas
ipykernel
python-lal
python-lalsimulation
pymultinest
dynesty
ultranest
zeus-sampler
nautilus-sampler
ipywidgets
notebook
pyarrow
astropy
gwpy
numba
hdf5=1.10.6
